<nav>
  <div class="site-title">
    <a href="/"><h1>Sanga Blog</h1></a>
    <p>A Sanga Blog Site</p>
  </div>
  <ul class="links">
    <li><a href="/blogs">Blogs</a></li>
    <li><a href="/about">About</a></li>
    <% if () {%>
    <li><a href="/blogs/create">New Blog</a></li>
    <% } %>
  </ul>
</nav>