<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>

    <div class="about content">
      <h2>About</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur
        doloribus laboriosam molestiae recusandae nihil aperiam, veniam, atque
        ipsum amet temporibus nemo accusamus, alias cum maxime quia repudiandae
        quam. Quasi, deserunt?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur
        doloribus laboriosam molestiae recusandae nihil aperiam, veniam, atque
        ipsum amet temporibus nemo accusamus, alias cum maxime quia repudiandae
        quam. Quasi, deserunt?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur
        doloribus laboriosam molestiae recusandae nihil aperiam, veniam, atque
        ipsum amet temporibus nemo accusamus, alias cum maxime quia repudiandae
        quam. Quasi, deserunt?
      </p>
    </div>
    <%- include('./partials/footer') %>
  </body>
</html>
