<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <!-- Partials is short for Partial Templates -->
    <%- include("./partials/nav.ejs") %>
    
    <main class="index content">
      <div>
        <h2>Welcome to Your Blogging site</h2>
        <h3>A place where Bloggers meet</h3>
      </div>

      <section>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, rem
          pariatur culpa perferendis accusantium sequi facere blanditiis
          delectus expedita labore recusandae porro tempore illo minus a earum
          doloribus. Iste, debitis.
        </p>
      </section>
    </main>

    <%- include('./partials/footer') %>
  </body>
</html>
