<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <!-- Partials is short for Partial Templates -->
    <%- include("./partials/nav.ejs") %>

    <main class="index content">
      <div>
        <h2>Welcome to Your Blogging site</h2>
        <h3>A place where Bloggers meet</h3>
      </div>
      <div>
        <form class="auth-form">
          <h2>Login</h2>
          <div class="login error"></div>
          <label for="email">Email</label>
          <input id="email" type="text" name="email" required />
          <label for="password">Password</label>
          <input id="password" type="password" name="password" required />
          <div class="buttons">
            <button class="button-primary">Sign In</button>
            <a class="button-secondary" href="/sign-up">Sign Up</a>
          </div>
        </form>
      </div>
    </main>

    <%- include('./partials/footer') %>

    <script>
      const login = document.querySelector(".button-primary");
      const loginError = document.querySelector(".login.error");

      login.addEventListener("click", (e) => {
        e.preventDefault();
        const email = document.querySelector("#email").value;
        const password = document.querySelector("#password").value;

        fetch("/login", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({ email, password }),
        })
          .then((response) => response.json())
          .then((data) => {
            console.log(data);
            if (data.error) {
              loginError.textContent = data.error;
            }

            if (data.message) {
              location = data.redirect;
            }
          })
          .catch((err) => {
            console.log(err);
          });
      });
    </script>
  </body>
</html>
