<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <!-- Partials is short for Partial Templates -->
    <%- include("./partials/nav.ejs") %>

    <main class="index content">
      <div class="center-text">
        <h2>Welcome to Your Blogging site</h2>
        <h3>A place where Bloggers meet</h3>
      </div>
      <div style="display: flex; flex-direction: column;">
        <form class="auth-form">
          <h2>Login</h2>
          <div class="login error"></div>
          <label for="email">Email</label>
          <input id="email" type="text" name="email" required />
          <label for="password">Password</label>
          <input id="password" type="password" name="password" required />
          <div class="buttons">
            <button class="button-primary">Sign In</button>
            <a class="button-secondary" href="/sign-up">Sign Up</a>
          </div>
        </form>
        <div style="align-self: center;">
          <div class="divider">OR</div>
          <div
            id="g_id_onload"
            data-client_id="383464635916-plu4djvsfgiie1h8srqq7caolc1b7pal.apps.googleusercontent.com"
            data-context="signin"
            data-ux_mode="redirect"
            data-login_uri="http://localhost:3000/login/auth/google"
            data-auto_prompt="false"
          ></div>
          <div
            class="g_id_signin"
            data-type="standard"
            data-shape="rectangular"
            data-theme="outline"
            data-text="signin_with"
            data-size="large"
            data-logo_alignment="left"
          ></div>
        </div>
      </div>
    </main>

    <%- include('./partials/footer') %>

    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script>
      const login = document.querySelector(".button-primary");
      const loginError = document.querySelector(".login.error");

      login.addEventListener("click", (e) => {
        e.preventDefault();
        const email = document.querySelector("#email").value;
        const password = document.querySelector("#password").value;

        fetch("/login", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({ email, password }),
        })
          .then((response) => response.json())
          .then((data) => {
            console.log(data);
            if (data.error) {
              loginError.textContent = data.error;
            }

            if (data.message) {
              location = data.redirect;
            }
          })
          .catch((err) => {
            console.log(err);
          });
      });
    </script>
  </body>
</html>
