<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <!-- Partials is short for Partial Templates -->
    <%- include("./partials/nav.ejs") %>

    <main class="index content">
      <div class="form-container">
        <div class="form-header">
          <h2>Sign Up</h2>
          <p>
            Have an account? <a class="styled-link" href="/login">Log in</a>
          </p>
        </div>
        <div style="align-self: center">
          <div
            id="g_id_onload"
            data-client_id="383464635916-plu4djvsfgiie1h8srqq7caolc1b7pal.apps.googleusercontent.com"
            data-context="signup"
            data-ux_mode="redirect"
            data-login_uri="/login/auth/google"
            data-auto_prompt="false"
          ></div>

          <div
            class="g_id_signin"
            data-type="standard"
            data-shape="rectangular"
            data-theme="outline"
            data-text="signup_with"
            data-size="large"
            data-logo_alignment="center"
          ></div>
          <div class="divider">OR</div>
        </div>
        <form class="auth-form">
          <div class="signup error"></div>
          <label for="firstname">First Name</label>
          <input id="firstname" type="text" name="firstname" required />
          <label for="lastname">Last Name</label>
          <input id="lastname" type="text" name="lastname" required />
          <label for="email">Email</label>
          <input id="email" type="text" name="email" required />
          <div class="email error"></div>
          <label for="password">Password</label>
          <input id="password" type="password" name="password" required />
          <label for="confirm_password">Confirm Password</label>
          <input
            id="confirm_password"
            type="password"
            name="confirm_password"
            required
          />
          <div class="password error"></div>
          <div class="password-tips">
            <strong>Password must contain:</strong>
            <ul>
              <li>Minimum 6 characters</li>
              <li>A lowercase character</li>
              <li>An uppercase character</li>
              <li>A number character</li>
            </ul>
          </div>
          <div class="buttons">
            <button class="button-primary">Sign Up</button>
          </div>
        </form>
      </div>
    </main>

    <%- include('./partials/footer') %>

    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script>
      const form = document.querySelector("form");
      const signup = document.querySelector(".button-primary");
      const signupError = document.querySelector(".signup.error");
      const emailError = document.querySelector(".email.error");
      const passwordError = document.querySelector(".password.error");

      const firstname = document.querySelector("#firstname");
      const lastname = document.querySelector("#lastname");
      const email = document.querySelector("#email");
      const password = document.querySelector("#password");
      const confirm_password = document.querySelector("#confirm_password");

      signup.addEventListener("click", (e) => {
        e.preventDefault();
        const data = new FormData(form);
        const objFormData = Object.fromEntries(data.entries());
        console.log(objFormData);

        // Clean up error text
        signupError.textContent = "";
        emailError.textContent = "";
        passwordError.textContent = "";

        // Reset error display
        email.classList.remove("input-error");
        password.classList.remove("input-error");
        confirm_password.classList.remove("input-error");

        if (password.value === confirm_password.value) {
          fetch("/sign-up", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify(objFormData),
          })
            .then((response) => response.json())
            .then((data) => {
              console.log(data);
              if (data.error) {
                signupError.textContent = data.error.error + "!";

                if (data.error.email) {
                  email.classList.add("input-error");
                  emailError.textContent = data.error.email.message;
                }

                if (data.error.email.kind === "required") {
                  email.classList.add("input-error");
                  emailError.textContent = "Email is required";
                }

                if (data.error.password) {
                  password.classList.add("input-error");
                  confirm_password.classList.add("input-error");
                  passwordError.textContent = data.error.password.message;
                }

                if (data.error.password.kind === "required") {
                  password.classList.add("input-error");
                  confirm_password.classList.add("input-error");
                  passwordError.textContent = "Password is required";
                }
              }

              if (data.message) {
                location = data.redirect;
              }
            })
            .catch((err) => console.log(err));
        } else {
          password.classList.add("input-error");
          confirm_password.classList.add("input-error");
          signupError.textContent = "Passwords don't match";
        }
      });
    </script>
  </body>
</html>
